{% extends "cms/index.html"%}

{% block head %}
{% endblock %}

{% block content %}
<form class="layui-form" action="" id="add">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="layui-form-item">
    <label class="layui-form-label">创建用户名</label>
    <div class="layui-input-inline">
      <input type="text" name="username" required  lay-verify="required" placeholder="4-10位用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-inline">
      <input type="text" name="name" required  lay-verify="required" placeholder="真实姓名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">创建密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="密码为6-16位" autocomplete="off" class="layui-input">
    </div>
      <div class="layui-form-item">
    <label class="layui-form-label">重复密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password1" required lay-verify="required" placeholder="密码为6-16位" autocomplete="off" class="layui-input">
    </div>

  </div>


  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="Add">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;

  //监听提交
  form.on('submit(Add)', function(data){
    $.ajax({
        type : "post",
        url : "add_user",
        dataType : 'json',
        data :data.field,
        success :function (msg) {
            if(msg["code"]==200){
                layer.alert(msg.msg);
                document.getElementById("add").reset();
            }else{
                layer.alert(msg.msg);
            }
        }
    });
    return false;
  });
});


</script>
{% endblock %}