<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>客户信息管理系统</title>
  <link rel="stylesheet" href="{{url_for('static',filename='cms/plugs/layui/css/layui.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='cms/css/layer.css')}}">
    <script src="{{url_for('static',filename='cms/plugs/layui/layui.js')}}"></script>
    <script src="{{url_for('static',filename='cms/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='cms/js/layer.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">金山支行客户信息管理系统</div>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ current_user.name }}
          [{{ current_user.permission }}]
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{{ url_for("cms.reset_pwd") }}">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{{ url_for("cms.logout") }}">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
          <li class="layui-nav-item"><a href="{{ url_for("cms.index") }}">首页</a></li>
        <li class="layui-nav-item layui-nav-itemed">
            {% if current_user.permission == "管理员" %}


          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for("cms.users") }}">用户列表</a></dd>
            <dd><a href="{{ url_for("cms.add_user") }}">添加用户</a></dd>
            <dd><a href="{{ url_for("cms.del_user") }}">删除用户</a></dd>
          </dl>
        </li>
        {% endif %}
        <li class="layui-nav-item"><a href="{{ url_for("cms.custom") }}">客户信息</a></li>

      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        {% block content %}{% endblock %}
    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © ohayou
  </div>
</div>

<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</body>
</html>